* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.quadrato {
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
}

.rosso {
    background-color: red;
}
    
